<a href="https://colab.research.google.com/github/priyanka-moorthy/NewTools/blob/main/PySpark/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalation and Loading

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=3d10330d17d8f150008e96dd4347233a534b2f2d50478643d1470f01e25cb1b2
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [2]:
import pyspark

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkHelloWorld').getOrCreate()
spark

# Create Dataframe

In [3]:
# create df
df = spark.createDataFrame([
    {"deptId": 1, "age": 40, "name": "Hyukjin Kwon", "gender": "M", "salary": 50},
    {"deptId": 1, "age": 50, "name": "Takuya Ueshin", "gender": "M", "salary": 100},
    {"deptId": 2, "age": 60, "name": "Xinrong Meng", "gender": "F", "salary": 150},
    {"deptId": 3, "age": 20, "name": "Haejoon Lee", "gender": "M", "salary": 200}
])

In [9]:
df.show()

+---+------+------+-------------+------+
|age|deptId|gender|         name|salary|
+---+------+------+-------------+------+
| 40|     1|     M| Hyukjin Kwon|    50|
| 50|     1|     M|Takuya Ueshin|   100|
| 60|     2|     F| Xinrong Meng|   150|
| 20|     3|     M|  Haejoon Lee|   200|
+---+------+------+-------------+------+

In [12]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- deptId: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

# Manupilating Dataframes

In [13]:
df.columns

['age', 'deptId', 'gender', 'name', 'salary']

In [16]:
df.select('name').show()

+-------------+
|         name|
+-------------+
| Hyukjin Kwon|
|Takuya Ueshin|
| Xinrong Meng|
|  Haejoon Lee|
+-------------+

In [15]:
df.select(['name', 'age']).show()

+-------------+---+
|         name|age|
+-------------+---+
| Hyukjin Kwon| 40|
|Takuya Ueshin| 50|
| Xinrong Meng| 60|
|  Haejoon Lee| 20|
+-------------+---+

In [17]:
df['name']

Column<'name'>

In [18]:
df.dtypes

[('age', 'bigint'),
 ('deptId', 'bigint'),
 ('gender', 'string'),
 ('name', 'string'),
 ('salary', 'bigint')]

In [19]:
df.describe().show()

+-------+-----------------+------------------+------+------------+-----------------+
|summary|              age|            deptId|gender|        name|           salary|
+-------+-----------------+------------------+------+------------+-----------------+
|  count|                4|                 4|     4|           4|                4|
|   mean|             42.5|              1.75|  NULL|        NULL|            125.0|
| stddev|17.07825127659933|0.9574271077563381|  NULL|        NULL|64.54972243679029|
|    min|               20|                 1|     F| Haejoon Lee|               50|
|    max|               60|                 3|     M|Xinrong Meng|              200|
+-------+-----------------+------------------+------+------------+-----------------+

In [23]:
df = df.withColumn('increment', df['salary']+(0.10 * df['salary']))

In [25]:
df.show()

+---+------+------+-------------+------+---------+
|age|deptId|gender|         name|salary|increment|
+---+------+------+-------------+------+---------+
| 40|     1|     M| Hyukjin Kwon|    50|     55.0|
| 50|     1|     M|Takuya Ueshin|   100|    110.0|
| 60|     2|     F| Xinrong Meng|   150|    165.0|
| 20|     3|     M|  Haejoon Lee|   200|    220.0|
+---+------+------+-------------+------+---------+

In [27]:
df = df.drop('increment')

In [30]:
df = df.withColumnRenamed('gender','sex')

In [31]:
df.show()

+---+------+---+-------------+------+
|age|deptId|sex|         name|salary|
+---+------+---+-------------+------+
| 40|     1|  M| Hyukjin Kwon|    50|
| 50|     1|  M|Takuya Ueshin|   100|
| 60|     2|  F| Xinrong Meng|   150|
| 20|     3|  M|  Haejoon Lee|   200|
+---+------+---+-------------+------+

# Handling Missing Values